@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
}

.list {
  li {
    padding-bottom: 15px;
    letter-spacing: 1.5px;
     a {
    text-decoration: none;
    }
  }
}

.class-li a {
  display: inline-block;
  width: 100%;
}

.class-li::after {
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}

.class-li:hover::after {
  width: 70px;
}

.class-li:nth-of-type(n + 10):hover::after {
  width: 80px;
}

.class-li-tag {
  a {
  margin-right: 5px;
  color: red;
  }

}
/* Tags */

.tags li {
  display: inline;
}

.tag-size-1 {
  font-size: 17px;
}

.tag-size-2 {
  font-size: 19px;
}

.tag-size-3 {
  font-size: 21px;
}

.tag-size-4 {
  font-size: 23px;
}

.tag-size-5 {
  font-size: 25px;
}


/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  padding: 40px;
}

.posts {
  flex: 2 0 0;
  position: relative;
  overflow: auto;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  margin: 45px 0;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  padding: 30px;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}


@media (max-width:436px){
  .wrapper {
    flex-direction: column;
    min-width: 350px;
  }
  .posts {
    min-height: 400px;
  }

  .sidebar {
    text-align: center;
    background-color: #ddd;
    padding: 0;
    margin: 0 auto;
    flex: 1 0 0;
    width: 80%;
    li{
      padding: 0;
      a {
        padding: 5px 0;
      }
      &:hover {
        background-color: #fff;
        font-weight: bold;
      }
    }
  }
  a.active {
    background-color: #fff;
  }
  .sidebar, .posts {
    margin-bottom: 25px;
  }
  .class-li:hover::after {
  width: 0;
  }
  .class-li:nth-of-type(n + 10):hover::after {
    width: 0;
  }
  .class-li:last-child {
    margin-bottom: 5px;
  }
}

@media (min-width:436px) and (max-width: 680px ) {
  .wrapper {
    flex-direction: column;
    min-width: 350px;
  }
  .posts {
    min-height: 400px;
  }

  .sidebar {
    text-align: center;
    background-color: #ddd;
    padding: 0;
    margin: 0 auto;
    flex: 1 0 0;
    width: 65%;
    li{
      padding: 0;
      a {
        padding: 5px 0;
      }
      &:hover {
        background-color: #fff;
        font-weight: bold;
      }
    }
  }
  a.active {
    background-color: #fff;
  }
  .sidebar, .posts {
    margin-bottom: 25px;
  }
   .class-li:hover::after {
  width: 0;
  }
  .class-li:nth-of-type(n + 10):hover::after {
    width: 0;
  }
  .class-li:last-child {
    margin-bottom: 5px;
  }
}

@media (min-width:680px) and (max-width: 1000px ) {
  .wrapper {
    flex-direction: column;
    min-width: 350px;
  }
  .posts {
    min-height: 400px;
  }

  .sidebar {
    text-align: center;
    background-color: #ddd;
    padding: 0;
    margin: 0 auto;
    flex: 1 0 0;
    width: 50%;
    li{
      padding: 0;
      a {
        padding: 5px 0;
      }
      &:hover {
        background-color: #fff;
        font-weight: bold;
      }
    }
  }
  a.active {
    background-color: #fff;
  }
  .sidebar, .posts {
    margin-bottom: 25px;
  }
   .class-li:hover::after {
  width: 0;
  }
  .class-li:nth-of-type(n + 10):hover::after {
    width: 0;
  }
  .class-li:last-child {
    margin-bottom: 5px;
  }
}